{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie - Ada Lovelace{% endblock %}

{% block body %}

    <div class="container mx-auto w-50 my-5">
        <h1>Modifier cette catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="d-flex mb-5 w-50 mx-auto btn-zone btn-right">
            <a class="btn btn-primary" href="{{ path('category_index') }}">Retour aux catégories</a>
            {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
